<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Tabadol</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <script src="/js/app.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>


    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <style>
        label{
            display: block;
        }
    </style>

</head>

<body>

<!-- ======= Header ======= -->
<header id="header"     style="background-color: #37517e;" class="fixed-top ">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="/">Tabadol</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href="/">Home</a></li>
              <li><a class="nav-link scrollto" href="/posts">Tabadol</a></li>
              <li th:if="${loggedInUser == null}"><a class="nav-link scrollto" href="/signup">SignUp</a></li>
              <li th:if="${loggedInUser == null}"><a class="nav-link scrollto" href="/login">Login</a></li>
              <li th:if="${loggedInUser != null}"><a class="nav-link scrollto" href="/myprofile">My Profile</a></li>
              <li th:if="${loggedInUser != null}"><a class="nav-link scrollto" href="/logout">Logout</a></li>
              <li><a class="nav-link scrollto" href="/aboutus">About Us</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

    </div>
</header>
<!-- End Header -->

<main id="main">
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <br><br><br>
        <div class="section-title">
          <h2>Add Post</h2>
        </div>

        <div class="row">
          <!-- <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch"> -->

          <div style="width: 60%;margin-left: 20%;">
            <form action="/addPost" method='POST' class="email-form">


              <div class="form-group">
                <label for="body"><textarea class="form-group" id="body" cols="70" rows="10" name="body" type="text" placeholder="Describe your service/product ..." required></textarea></label><br>
              </div>
              
              <div class="form-group">
                <label for="category">Category: </label>
                <select style="width: 97%;" class="form-group" name="category" id="category" required>
                    <option value="education">Education</option>
                    <option value="instructor">Instructor</option>
                    <option value="tutoring">Tutoring</option>
                    <option value="computer ">Computer </option>
                    <option value="video">Video</option>
                    <option value="copywriting">Copywriting</option>
                    <option value="other">Other</option>
                </select>
              </div>
              <br>
              <div class="row">
              <p>Type:</p>
              <div class="form-group col-md-6">
              Service &nbsp;<input type="radio" id="service" name="type" value="service" checked>
              </div>
              <div class="form-group col-md-6">
                Product &nbsp;<input type="radio" id="product" name="type" value="product">
                </div>
                </div>
                <br>

                <div class="row">
              <div class="form-group col-md-6">
                Available &nbsp;<input type="checkbox" id="status" name="status" value="available">
              </div><br>

              <div class="form-group col-md-6">
                Weight &nbsp; <input style="width: 80px;display: -webkit-inline-box;" class="form-control" type="number" id="weight" name="weight" min="1" max="10" value="1">
              </div>
                </div>
              <br>

              <div class="text-center">
                  <input class="btn-form-input" name="submit" type="submit" value="Add Post"></div><br>



            </form>
          </div>


            <!--  -->
            <!--  -->

            <!-- <form action="/addPost" method="POST">
                <label for="body"><textarea id="body" cols="30" rows="10" name="body" type="text" placeholder="Describe your service ..." required></textarea></label><br>
            
                <label for="category">Category: </label>
                <select name="category" id="category" required>
                    <option value="education">Education</option>
                    <option value="instructor">Instructor</option>
                    <option value="tutoring">Tutoring</option>
                    <option value="computer ">Computer </option>
                    <option value="video">Video</option>
                    <option value="copywriting">Copywriting</option>
                    <option value="other">Other</option>
                </select>
                <p>Type:</p>
                <input type="radio" id="service" name="type" value="service" checked>
                <label for="service">Service</label>
                <input type="radio" id="product" name="type" value="product">
                <label for="product">Product</label><br>
                <label for="status">Available?</label>
                <input type="checkbox" id="status" name="status" value="available">
            

                <label for="weight">Weight</label>
                <input type="number" id="weight" name="weight" min="1" max="10" value="1"><br>
                <input type="submit" value="Add Post">
            </form> -->
            




          </div>

        </div>

      </div>
    </section>
    <!-- End Contact Section -->

</main><!-- End #main -->


<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>

</html>
