<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/myprofile">My profile</a></li>
            <li><a href="/allUsers">All users' profiles</a></li>
            <li><a href="/perform_logout">Logout</a></li>
            <li><a href="/posts">posts</a></li>
            <li><a href="/addPost">add post</a></li>
            <li><a href="/signup">register</a></li>
        </ul>
    </nav>
    
<h1>working </h1>

</body>
</html>