<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <th:block th:replace="../static/fragments/fragment.html :: links"></th:block>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Marck+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rakkas">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css">

    <link rel="stylesheet" href="assets/css/offers.css">

    <link href="https://fonts.googleapis.com/css?family=KoHo" rel="stylesheet">
    <title>Received offers</title>
</head>

<body>

    <header th:replace="../static/fragments/fragment.html :: header"> </header>


    <!-- <div class="offerMargin-bottom"></div> -->
    <main>
        <div class="section-title">      
            <h2>Your Received Offers</h2>
        </div>
        <div th:if="${listToCheck.isEmpty()}" class="empty-offer">
            <h3>There Is No Received Offers Yet, You can  <a href="/addPost">Add Post </a> To get more offers.</h3>
        </div>
        <div th:each="post :${posts}" class="offerMain">
            <div th:each="offer : ${post.receivedOffers}" th:if="${offer.isAvailable()}" class="contOfCont">
                <div class="offerContainer">
                    <div class="offerLogo flexRowItem1"><img
                        th:src="@{${offer.user.image}}">
                    </div>
                    <div class="flexRowItem2">
                        <h1 class="offers">
                            <a th:href="'/profile/'+${offer.user.id}">
                                <span th:text="${offer.user.firstname}"></span>
                                <span th:text="${offer.user.lastname}"></span>
                            </a>
                        </h1>
                        <h3 class="offers">Category: <span th:text="${offer.category}"></span>
                            <span class="offerType">Type: <span th:text="${offer.type}"></span></span>
                        </h3>
                        <div class="line"></div>
                        <p class="bio">
                            <span th:text="${offer.body}"></span>
                        </p>
                        <div class="line"></div>
                        <div class="spaceBetween">
                            <p class="createdAt"><span th:text="${offer.createdAt}"></span></p>
                            <p class="weight">Weight: <span th:text="${offer.weight}"></span></p>
                        </div>
                    </div>
                    <div class="arrow">
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </div>
    
    
                <div class="offerContainer">
                    <div class="offerLogo flexRowItem1"><img
                        th:src="@{${post.user.image}}">
                    </div>
                    <div class="flexRowItem2">
                        <h1 class="offers">
                            <a th:href="'/profile/'+${post.user.id}">
                                <span th:text="${post.user.firstname}"></span>
                                <span th:text="${post.user.lastname}"></span>
                            </a>
                        </h1>
                        <h3 class="offers">Category: <span th:text="${post.category}"></span>
                            <span class="postType">Type: <span th:text="${post.type}"></span></span>
                        </h3>
                        <div class="line"></div>
                        <p class="bio">
                            <span th:text="${post.body}"></span>
                        </p>
                        <div class="line"></div>
                        <div class="spaceBetween">
                            <p class="createdAt"><span th:text="${post.createdAt}"></span></p>
                            <p class="weight">Weight: <span th:text="${post.weight}"></span></p>
                        </div>
                    </div>
                </div>
                <div class="offersButtonContainer">
                    <form th:action="'/profile/'+${offer.user.id}" method="GET">
                        <input type="hidden" name="source_id" th:value="${offer.id}">
                        <input type="hidden" name="destination_id" th:value="${post.id}">
                        <button id="acceptOffer" class="accept">Accept</button>
                    </form>
                    <form action="/declineoffer" method="post">
                        <input type="hidden" name="source_id" th:value="${offer.id}">
                        <input type="hidden" name="destination_id" th:value="${post.id}">
                        <button id="declineOffer" class="decline">Decline</button>
                    </form>
                </div>
    
            </div>
        </div>
    </main>
    <th:block th:replace="../static/fragments/fragment.html :: footer"></th:block>

</body>

</html>