<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/js/app.js"></script>

    <title>Tabadol</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" style="background-color: #37517e;" class="fixed-top ">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="/">Tabadol</a></h1>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="/">Home</a></li>
                    <li><a class="nav-link scrollto" href="/posts">Tabadol</a></li>
                    <li th:if="${loggedInUser == null}"><a class="nav-link scrollto" href="/signup">SignUp</a></li>
                    <li th:if="${loggedInUser == null}"><a class="nav-link scrollto" href="/login">Login</a></li>
                    <li th:if="${loggedInUser != null}"><a class="nav-link scrollto" href="/myprofile">My Profile</a>
                    </li>
                    <li th:if="${loggedInUser != null}"><a class="nav-link scrollto" href="/perform_logout">Logout</a>
                    </li>
                    <li><a class="nav-link scrollto" href="/aboutus">About Us</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->


    <main id="main">
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <br><br><br>
                <div th:if="${loggedInUser == null}" class="section-title">
                    <h2><a href="/login">Login First</h2>
                </div>

                <div th:if="${loggedInUser != null}" class="section-title">
                    <h2>Posts</h2>
                    <h2><a class="btn-form-input" href="/addPost">Add Post</a></h2>
                </div>
                <div th:if="${posts.isEmpty() && loggedInUser != null}">
                    <h2>No Posts Available</h2>
                    <a class="btn-form-input" href="/addPost">Add Post</a></h2>
                </div>

            <div style="display:flex;flex-wrap: wrap;justify-content: center">
                <div th:each="post :${posts}" th:if="${post.user.id != loggedInUser.id}">
                    <div style="width: 400px;" th:if='${post.offerType == "general"}' class="p-3 m-5 shadow p-3 bg-white rounded bg-light" data-aos="zoom-in" data-aos-delay="100">
                        <div th:if='${post.offerType == "general" && post.isAvailable()}'>

                            <div>
                                <h4><img style="width: 45px;margin-right: 15px;" th:src="${post.user.image}"><span th:text="${post.user.username}"></span></h4>
                            </div>
                            <p class="text-success">Category: &nbsp;<span class="text-secondary" th:text="${post.category}"></span></p>
                            <p class="text-success">Type: &nbsp;<span class="text-secondary" th:text="${post.type}"></span></p>
                            <p class="p-2 border border-primary"><span class="text-secondary" th:text="${post.body}"></span></p>
                            <p class="text-success">Weight : &nbsp;<span class="text-secondary" th:text="${post.weight}"></span></p>
                            <p><span class="text-secondary" th:text="${post.createdAt}"></span></p>


                            <button  class="btn btn-primary" th:onclick="'showOneEditForm(\'btn-div' + ${post.id} + '\')'" id="make-offer"
                                th:if="${post.user.id != loggedInUser.id}">Make offer</button>

                            <div style="display: none;" th:id="'btn-div'+${post.id}">
                                <button th:onclick="'showOneForm(' + ${post.id} + ', \'add\' )'">Add Offer
                                </button>
                                <button
                                
                                    th:onclick="'showOneForm(' + ${post.id} + ', \'exchange\' )'">Exchange
                                </button>
                            </span>


                            <br>
                            <br>
                            <form class="email-form" th:id="'make-offer-form'+${post.id}" th:if="${post.user.id != loggedInUser.id}"
                                method="POST" th:action="'/makeOffer/'+${post.id}" style="display: none;">

                                <div class="form-group">
                                    <label for="body"><textarea class="form-group" id="body" cols="35" rows="10" name="body" type="text" placeholder="Describe your service/product ..." required></textarea></label><br>
                                  </div>

                                <div class="form-group">
                                    <label for="category">Category: </label>
                                    <select style="width: 97%;" class="form-group" name="category" id="category" required>
                                        <option value="education">Education</option>
                                        <option value="instructor">Instructor</option>
                                        <option value="tutoring">Tutoring</option>
                                        <option value="computer ">Computer </option>
                                        <option value="video">Video</option>
                                        <option value="copywriting">Copywriting</option>
                                        <option value="other">Other</option>
                                    </select>
                                  </div>
                                  
                                  <br>
                                <div class="row">
                                <p>Type:</p>
                                <div class="form-group col-md-6">
                                Service &nbsp;<input type="radio" id="service" name="type" value="service" checked>
                                </div>
                                <div class="form-group col-md-6">
                                    Product &nbsp;<input type="radio" id="product" name="type" value="product">
                                    </div>
                                    </div>
                                    <br>

                                <div class="row">                      
                                    <div class="form-group col-md-6">
                                      Weight &nbsp; <input style="width: 80px;display: -webkit-inline-box;" class="form-control" type="number" id="weight" name="weight" min="1" max="10" value="1">
                                    </div>
                                      </div>

                                      <br>
                                <input class="btn btn-success" type="submit" value="Add Offer">

                            </form>

                            <form style="display:none;" th:id="'make-exchange-form'+${post.id}"
                                th:action="'/exchange/'+${post.id}" method="POST">
                                <div th:each="innerpost :${posts}"
                                    th:if="${innerpost.user.id == loggedInUser.id && !(innerpost.isThereOfferOf(post) && post.receivedOffers.contains(innerpost))}">
                                    <div th:if='${innerpost.offerType == "general" && innerpost.isAvailable()}'>


                                        <br>
                                        <div>
                                            <h4><img style="width: 45px;margin-right: 15px;" th:src="${post.user.image}"><span th:text="${post.user.username}"></span></h4>
                                        </div>
                                        <p class="text-success">Category: &nbsp;<span class="text-secondary" th:text="${post.category}"></span></p>
                                        <p class="text-success">Type: &nbsp;<span class="text-secondary" th:text="${post.type}"></span></p>
                                        <p class="p-2 border border-primary"><span class="text-secondary" th:text="${post.body}"></span></p>
                                        <p class="text-success">Weight : &nbsp;<span class="text-secondary" th:text="${post.weight}"></span></p>
                                        <p><span class="text-secondary" th:text="${post.createdAt}"></span></p>
                                        <!-- <h2>User: <span th:text="${innerpost.user.username}"></span></h2>
                                        <p class="body"><span th:text="${innerpost.category}"></span></p>
                                        <p class="body"><span th:text="${innerpost.type}"></span></p>
                                        <p class="body"><span th:text="${innerpost.body}"></span></p>
                                        <p class="body"><span th:text="${innerpost.weight}"></span></p>
                                        <p class="body"><span th:text="${innerpost.createdAt}"></span></p> -->
                                        <input type="radio" id="exchangepost" name="exhcangethispost"
                                            th:value="${innerpost.id}">
                                        <label for="exchangepost">Select post</label>
                                        <hr>
                                    </div>
                                </div>

                                <button class="btn btn-success" id="exchange">Exchange</button>

                            </form>


                        </div>

                    </div>

                </div>
                </div>
            </div>

        </section>
        <!-- End Contact Section -->


    </main><!-- End #main -->


    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Tabadol</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>


</body>

</html>