<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Profile</title>
</head>

<body>

    <div class="cont">

        <form th:if="${(!loggedInUser.isFollowingUser(user)) && (user.id != loggedInUser.id)}" method="POST" th:action="'/follow/'+${user.username}+'?route=/profile/'+${user.id}">
            <input id="button_follow" type="submit" value="Follow">
        </form>

        <form th:if="${(loggedInUser.isFollowingUser(user)) && (user.id != loggedInUser.id)}" method="POST" th:action="'/unfollow/'+${user.username}+'?route=/profile/'+${user.id}+'&_method=DELETE'">
            <input id="button_unfollow" type="submit" value="unFollow">
        </form>


        <div th:if="${user != null}">
            <h3>This is <span th:text=${user.username}></span>'s page</h3>
            <p>Profile picture: </p>
            <p><a th:href="'/followinglist/'+${user.username}">Following:</a> <span th:text=${user.numberOfPeopleIfollow()}></span></p>
            <p><a th:href="'/followerslist/'+${user.username}">Followers:</a> <span th:text=${user.getNumberOfFollowers()}></span></p>
            <img th:src=${user.image} alt="user's image" width="100" height="100" id="profile-image">
            <p>Username: <span th:text=${user.username}></span></p>
            <p>First Name: <span th:text=${user.firstname}></span></p>
            <p>Last Name: <span th:text=${user.lastname}></span></p>
            <p>E-mail: <span th:text=${user.email}></span></p>
            <p>Phone Number: <span th:text=${user.phone}></span></p>
            <p>Skills: <span th:text=${user.skills}></span></p>
            <p>Bio: <span th:text=${user.bio}></span></p>
            <button id="edit-profile-btn">Edit Profile</button>
            
            <form th:action="'/edit-profile/' + ${user.id} + '?_method = put'" method="post" id="edit-profile-form">
                <label for="">firstName: <input th:value=${user.firstname}  name="firstname" required type="text"></label>
                <label for="">lastName: <input th:value=${user.lastname} name="lastname" required type="text"></label>
                <label for="">Skills: <input th:value=${user.skills} name="skills" required type="text"></label>
                <label for="">Bio: <input th:value=${user.bio} name="bio" required type="text"></label>
                <label for="">Phone: <input th:value=${user.phone} name="phone" required type="text" id="phone"></label>
                <label for="">Image url: <input th:value=${user.image} name="image" required type="text" id="image_url" ></label>
                <button type="submit">Update</button>
            </form>
        </div>

        <div th:unless="${user != null}">                                      
            <h2>Ooops, User Id Is Not Exist..</h2>
        </div>
    </div>



    <div th:each="post :${posts}">
        <div>
            <div>
                <img src="">
                <h2>User</h2>
            </div>
            <p class="body"><span th:text="${post.category}"></span></p>
            <p class="body"><span th:text="${post.type}"></span></p>
            <p class="body"><span th:text="${post.body}"></span></p>
            <p class="body"><span th:text="${post.weight}"></span></p>
            
            <button id="edit-post-btn" th:onclick="'showOneEditForm(' + ${post.id} + ')'">Edit Post</button>
            <form th:action="'/delete-post/' + ${post.id} + '?_method=delete'" method="post">
                <button id="delete-btn">Delete</button>
            </form>


            <form th:action="'/edit-post/' + ${post.id} + '?_method=put'" method="post" th:id=${post.id} class="edit-form">
                <label for="body"><textarea id="body" cols="30" rows="10" name="body" type="text"
                        placeholder="Describe your service ..." required th:text=${post.body}></textarea></label><br>

                <label for="category">Category: </label>
                <select name="category" id="category" required>
                    <option value="education">Education</option>
                    <option value="instructor">Instructor</option>
                    <option value="tutoring">Tutoring</option>
                    <option value="computer ">Computer </option>
                    <option value="video">Video</option>
                    <option value="copywriting">Copywriting</option>
                    <option value="other">Other</option>
                </select>


                <p>Type:</p>
                <input type="radio" id="service" name="type" value="service" checked>
                <label for="service">Service</label>

                <input type="radio" id="product" name="type" value="product">
                <label for="product">Product</label><br>

                <label for="status">Available?</label><br>
                <input type="checkbox" id="status" name="status" value="available" checked>

                <label for="weight">Weight</label>
                <input type="number" id="weight" name="weight" min="1" max="10" th:value=${post.weight}><br>

                <button type="submit">Save Edits</button>

            </form>
        </div>

    </div>

</body>

</html>