
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <th:block th:replace="../static/fragments/fragment.html :: links"></th:block>

    <title>Tabadol</title>    
    <style>
        label{
            display: block;
        }
    </style>

</head>

<body>

  <header th:replace="../static/fragments/fragment.html :: header"> </header>


<main id="main">
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <br><br><br>
        <div class="section-title">
          <h2>Sign Up</h2>
        </div>

        <div class="row">
          <!-- <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch"> -->

          <div style="width: 60%;margin-left: 20%;">
            <form action="/signup" method='POST' class="email-form">
                <div class="row">
              <div class="form-group col-md-6">
                <label>FirstName</label>
                <input type="text" class="form-control" name="firstname" required>
              </div>
              <div class="form-group col-md-6">
                <label>lastName</label>
                <input type="text" class="form-control" name="lastname" required>
              </div>
              </div>
              <div class="row">
              <div class="form-group col-md-6">
                <label>Username</label>
                <input type="text" class="form-control" name="username" value="" required>
              </div>
              <div class="form-group col-md-6">
                <label>Phone</label>
                <input type="text" class="form-control" name="phone" id="phone" required>
              </div>
              </div>
              <div class="row">
              <div class="form-group col-md-6">
                <label>Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
              </div>
              <div class="form-group col-md-6">
                <label>Confirm password</label>
                <input type="password" class="form-control" name="confirm" id="confirm-password" required>
              </div>
            </div>
            <div class="form-group">
                <label>E-mail</label>
                <input type="email" class="form-control" name="email" required>
              </div>
              <div class="form-group">
                <label>Skills</label>
                <input type="text" class="form-control" name="skills" required>
              </div>
              <div class="form-group">
                <label>Bio</label>
                <input type="text" class="form-control" name="bio" required>
              </div>
              <div class="form-group">
                <label>Image URL</label>
                <input type="text" class="form-control" name="image" id="image_url2" >
              </div>
              <br>
              <div class="text-center"><input class="btn-form-input" name="submit" type="submit" value="SignUp" id="signup-btn"></div><br>
              <div class="text-center">Have an account already? <a href="/signup"> Login</a></div><br>
            </form>


            <!-- <form action="/signup" method="POST">
                <label for="">Username: <input required name="username" type="text"></label>
                <label for="">firstName: <input required name="firstname" type="text"></label>
                <label for="">lastName: <input required name="lastname" type="text"></label>
                <label for="">E-mail: <input required name="email" type="email"></label>
                <label for="">Skills: <input required name="skills" type="text"></label>
                <label for="">Bio: <input required name="bio" type="text"></label>
                <label for="">Phone: <input required name="phone" type="text" id="phone"></label>
                <label for="">Image url: <input name="image" type="text" id="image_url" ></label>
                <label for="">Password: <input required name="password" type="password" id="password"></label>
                <label for="">Confirm password: <input required name="confirm" type="password" id="confirm-password"></label>
                <label><input type="submit" value="Sign Up" id="signup-btn"></label>
            </form> -->




          </div>

        </div>

      </div>
    </section>
    <!-- End Contact Section -->

</main><!-- End #main -->


<!-- ======= Footer ======= -->
<th:block th:replace="../static/fragments/fragment.html :: footer"></th:block>

<!-- Vendor JS Files -->
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/webjars/jquery/jquery.min.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>

</html>
